<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>Triggers</key>
		<array>
			<string>RightEdgeSwipe</string>
			<string>Shake</string>
		</array>
	</dict>
	<key>Simulator</key>
	<dict>
		<key>Triggers</key>
		<array>
			<string>Shake</string>
		</array>
	</dict>
	<key>Device</key>
	<dict/>
</dict>
</plist>
